@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display:wght@700&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}
